site: Jyosa Labs Blogs
url: https://vipul-maheshwari.github.io/
title: Jyosa Labs Blogs
description: Everything related to AI
twitter:
  username: broskidotai
  card: summary
  creator: broskidotai
author:
  twitter: broskidotai
  name: Vipul Maheshwari
  avatar:
  email:
  url: https://vipul-maheshwari.github.io/
permalink: pretty

baseurl: ""

highlighter: none

exclude:
  - .jekyll-cache
  
compress_html:
  clippings: all
  comments: ["<!-- ", " -->"]

sass:
  sass_dir:          _sass
  style:            :compressed

plugins:
  - jekyll-paginate
  - jekyll-seo-tag
  - jekyll-sitemap  

collections:
  pages:
    output: true
    permalink: /:name
  posts:
    output: true
    permalink: /:year/:month/:day/:slug
  
defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"