---
layout: default
---

<body>
  Welcome! This is Techy Cheetah. 
  <br>
  Our life is more than just working in a cubicle in front of the computer. After some weeks, maybe months you will get old, and old age is not exactly a time of life that most of us welcome, 
  although it is a privilege to reach it. 
  <br><br>
  When someone ask "what do you do?" your answer shouldn't just be about work, it should be about how you're impacting and changing the world and how you want to be remembered after you're gone.
  <br><br>
  Techy Cheetah will help some of us to learn and grow better...
  <br>
  
</body>



<!--{{ content }}
{% assign contentwonl = content | strip_newlines %} {% unless contentwonl == ""  %} <br /> {% endunless %}
{%- if site.posts.size > 0 -%}
  <ul>
    {%- for post in site.posts -%}
    <li>
      {%- assign date_format = "%Y-%m-%d" -%}
      [ {{ post.date | date: date_format }} ] <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
    </li>
    {%- endfor -%}
  </ul>
{%- endif -%}-->



 <!-- add line break if there is any content -->
