---
layout: default
---

<section class="post">
  <h2>{{ page.title }}</h2>
  {{ content }}
  <span class="meta"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>
</section>

<!-- Add this at the end of your post layout file -->
<a href="#" class="back-to-top"></a>

<script>
  // Get the button
  var mybutton = document.querySelector(".back-to-top");

  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  };

  // When the user clicks on the button, scroll to the top of the document
  mybutton.addEventListener('click', function() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE, and Opera
  });
</script>

<!--
---
layout: default
---

<section class="post">
  <h2>{{ page.title }}</h2>
  {{ content }}
  <span class="meta"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time> &middot; {% for tag in page.tags %}
    <a href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</span>-->
  <!--</section>
-->

